body {
	background-color: #e3e3e3;
}

.gameButton {
	height: 50px;
	width: 200px;
	background-color: grey;
	color: white;
	border: 1px solid;
	border-radius: 10px;
	font-size: 1em;
}

.dealerCards {
	width:100%;
	float: left;
}

.playerCards {
	width: 100%;
	float: left;
}

span { 
	display: block; 
}

.outline {
	width: 100px;
	text-align: center;
	padding: 10px;
	margin: 10px;
	background: #FFF;
	border-radius: 6px;
	float:left;
}

.top {
	text-align: left;
}
.middle {
	text-align:center;
}
.bottom {
	text-align: right;
}

.outline.cardBack {
	background-image: url('cardback.png');
	background-size: cover;
	height: 143px;
}

.outline.cardBack > .top,
.outline.cardBack > .middle,
.outline.cardBack > .bottom {
	display:none;
}


.Spades,
.Clubs {
	color: #000;
}

.Diamonds,
.Hearts {
	color: #cc0033;
}

.winner {
  background-color: green;
}

.loser {
  background-color: red;
}

.tie {
  background-color: yellow;
}